<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139769463785-9iog3gfkb5m6395ghtisijs121dd7mfh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139769463785-9iog3gfkb5m6395ghtisijs121dd7mfh</string>
	<key>API_KEY</key>
	<string>AIzaSyAsdfVxvCOWqH5-D9fuswIgxi_mTU41_HI</string>
	<key>GCM_SENDER_ID</key>
	<string>139769463785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jlm.mynetvolve</string>
	<key>PROJECT_ID</key>
	<string>mynetvolve</string>
	<key>STORAGE_BUCKET</key>
	<string>mynetvolve.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139769463785:ios:290dbf6a876cd92f390178</string>
</dict>
</plist>